@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to bottom, #FFC991, #E79160);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #69422c9a;
    width: 500px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #D9A443;
    text-align: center;
    text-shadow: 1px 1px 2px #754930b2;
}

h2 {
    color: #C4D1CA;
}

p {
    text-align: justify;
}