@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    min-height: 200px;
}

header > h1 {
    font-size: 3em;
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(41, 41, 41);
    color: white;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.315);
    width: 400px;
} 

footer {
    background-color: rgb(7, 6, 6);
    color: white;
    text-align: center;
    padding: 10px;
}